<!DOCTYPE html>
<link href="./styles/style.css" rel="stylesheet">
<script src="scripts/main.js" defer></script>
<audio id="music" src="music/nanoda.m4a"></audio>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=divice-width, initial-scale=1" />
  <title>FAFA233</title>
</head>
<div id="logo">
  <nav>
    <a href="./index.html">
      <img src="./images/WKF.png" alt="微开发协会会徽" height="60px" width="60px" id="logoimage" />
      <span>微开发协会</span>
    </a>
    <div id="menu">
      <ul id="menu1">
        <li><a href="./index.html">主页</a></li>
        <li><a href="">博客</a></li>
        <li><a href="">讨论</a></li>
        <li><a href="">工具</a></li>
      </ul>
    </div>
    <div>
    <ul id="menu2">
      <li><img src="images/qwq.png" height="60px" width="60px" alt="头像" id="menuheadimage" class="round_icon" /></li>
      <li><a href="">✉</a></li>
      <li><a href="">搜索</a></li>
    </div>
    </ul>
  </nav>

</div>
<!-- <div>
  <nav>
    <button><a href="./login.html" id="top">登录</a></button>
    <p>
      <a href="mailto:" id="share"><span>分享网页</span><br></a>
      <a href="tel: 15708648472" id="tel"><span>15708648472</span></a>
    </p>
    <h3 id="guest">用户</h3>
  </nav> -->
<h2 id="xf"><abbr title="出自蛮啾网络研发游戏《碧蓝航线》中的舰娘"></abbr>雪风</h2>

<body>
  <p>简介:</p>
  <ul>
    <li>出自<a href="https://game.bilibili.com/blhx/?channel=pinzhuan" target="_blank">
        <site><em>《碧蓝航线》</em></site>
      </a></li>
    <li class="special">名字:雪风</li>
    <li>身高:146cm</li>
    <li>年龄:13</li>
    <LI>H<sub>2</sub>SO<sub>4</sub></LI>
    <li>体重:46kg</li>
    <li>简介:雪风（莲）（雪風，Yukikaze，雪風（ゆきかぜ））是由蛮啾网络、勇仕网络联合研发的移动设备游戏<a href="https://game.bilibili.com/blhx/?channel=pinzhuan"
        target="_blank">
        <site><em>《碧蓝航线》</em></site>
      </a>及其衍生作品的登场角色。
      其原型为旧日本帝国海军的阳炎级驱逐舰八号舰“雪风”（雪風(駆逐艦)）</li>
  </ul>
  <p>台词:</p>
  <dl>
    <dt>获得:</dt>
    <dd>哼哼哼，作为你来到我面前的奖赏，我幸运的雪风大人就加入你的舰队！感到光荣吧！</dd>
    <dt>登录:</dt>
    <dd>终于回来了，为了雪风大人赶紧好好工作吧!</dd>
    <dt>查看详情:</dt>
    <dd>雪风大人的英姿就随你看个高兴吧！</dd>
  </dl>
  <time datetime="2016-01-20">20 January 2016</time>
  <p>图片:</p>
  <link rel="styles/style2.css" href="style2">
  <img srcset="" src="images/233.png" alt="kawaii" id="xf1" />
  <h5>
    <button id="play-button"> 雪風様なのだ！！</button>
  </h5>
  <a href="https://zh.moegirl.org.cn/%E7%A2%A7%E8%93%9D%E8%88%AA%E7%BA%BF:%E9%9B%AA%E9%A3%8E" id="a1" target="_blank">
    <img src="images/qwq.png" alt="shiroko" id="img1"> </a>
  <h4 id="mnbk">戳白子图片看<a href="https://zh.moegirl.org.cn/Mainpage#/desktop/index" title="MNBK" target="_blank"> '萌娘百科'
    </a></h4>
  </div>
  <object data="files/C.pdf" type="files/pdf" width="100%" height="100%" typemustmatch>
    <p>你的浏览器不支持PDF插件，请使用<a href="files/C.pdf" target="_blank">下载链接</a>下载</p>
    <footer>
      <h6><a href="#top">
          <link>返回顶部
        </a>.</h6>
      <P><a href="https://github.com/FAFA233" target="_blank"><img src="images/github.png" title="FAFA233" width="80px"
            height="80px" class="git"></a></P>
    </footer>
    <div class="outer">
      <div class="box">Bocchi The Rock <the< /thead>
      </div>
    </div>
    <video src="video/bocchi.mp4" controls poster="images/cover.jpg" preload="auto"><!-- autoplay loop muted --></video>
</body>

</html>